@model IEnumerable<Company.Models.Сотрудники>

@{
    Layout = "_LayoutNone";
    ViewData["Title"] = "Главная";
}

<style>
    body {
        background: linear-gradient(to right, #ff6ec7, #2f2f2f);
        font-family: Arial, sans-serif;
        color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    h1, h2 {
        color: #FFA8F3;
        font-weight: bold;
        margin: 50px 20px 20px 20px; 
    }

    .btn, a {
        border-radius: 50px;
        border: 2px solid #545454;
        margin: 10px; 
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #ff6ec7;
        transition: background-color 0.3s, color 0.3s;
        text-decoration: none;
        display: inline-block; 
    }

        .btn:hover, a:hover {
            background-color: #e05cae;
            color: #fff;
        }

    .table {
        width: 90%;
        margin: 20px auto; 
        border-collapse: collapse;
    }

        .table th {
            background-color: #3a3a3a;
            color: #ff6ec7;
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;
        }

        .table td {
            background-color: #2f2f2f; 
            color: #ff6ec7; 
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;
        }

        .table a {
            color: #ff6ec7; 
            text-decoration: none; 
        }

            .table a:hover {
                text-decoration: underline; 
            }

    p a {
        margin-left: 20px;
    }
    .button-container {
        margin-top: 20px;
        text-align: center;
    }

    .return-button {
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: #ff6ec7;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .return-button:hover {
        background-color: #e05cae;
    }
    .anchor {
        position: fixed;
        bottom: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 24px;
        border-radius: 50%;
        background-color: #ff6ec7;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .anchor:hover {
        background-color: #e05cae;
    }

    .anchor-up {
        right: 20px;
    }

    .anchor-down {
        left: 20px;
    }
</style>

<h1>
    Главная страница для редактирования информации о сотрудниках
</h1>

<p>
    <a asp-action="Create" class="btn">Создание</a>
</p>
<table style="width: 90%;
        margin: 20px auto; /* Центрирование таблицы */
        border-collapse: collapse;">
    <thead>
        <tr>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.ФИО)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.Пол)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.Дата_рождения)
            </th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.СНИЛС)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.Мобильный_телефон)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.Адрес_электронной_почты)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.Адрес_проживания)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.Должность)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.Статусы)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                @Html.DisplayNameFor(model => model.Аккаунты)
            </th>
            <th style="background-color: #3a3a3a; /* Цвет фона заголовка */
            color: #ff6ec7; /* Цвет текста заголовка */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.ФИО)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.Пол)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.Дата_рождения)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.СНИЛС)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.Мобильный_телефон)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.Адрес_электронной_почты)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.Адрес_проживания)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.Должность)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.Статусы.Код_статуса)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    @Html.DisplayFor(modelItem => item.Аккаунты.Логин)
                </td>
                <td style="background-color: #2f2f2f; /* Цвет фона ячеек данных */
            color: #ff6ec7; /* Цвет текста ячеек данных */
            border: 1px solid #545454;
            padding: 10px;
            text-align: left;">
                    <a asp-action="Edit" asp-route-id="@item.Код_сотрудника" class="btn">Редактировать</a>
                    <a asp-action="Details" asp-route-id="@item.Код_сотрудника" class="btn">Список</a>
                    <a asp-action="Delete" asp-route-id="@item.Код_сотрудника" class="btn">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="#" class="anchor anchor-up" onclick="scrollToTop()">&uarr;</a>
<a href="#bottom" class="anchor anchor-down" onclick="scrollToBottom()">&darr;</a>

<script>
    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }

    function scrollToBottom() {
        const bottom = document.getElementById('bottom');
        bottom.scrollIntoView({ behavior: 'smooth' });
    }
</script>

<a id="bottom"></a>
<div class="button-container">
    <form method="get" action="/MenuAdmin/Index">
        <button type="submit" class="return-button">Вернуться в меню для администраторов</button>
    </form>
</div>